<%-include('../common/_index.ejs')%>
<div class="container mx-auto" style="max-width:800px;">
    <h2>Editar artículo</h2>
    <form action="/articles/<%= article.id%>?_method=PUT" method="POST">
        <%-include('_form')%>
    </form>
</div>