<%-include('../common/_index.ejs')%>
<div class="container mx-auto" style="max-width:800px;">
    <h3>
        Nuevo post
    </h3>
    <!--se tiene que crear el formulario que va a ser la estructura para introducir la base de datos-->
    <form action="/articles" method="POST">
        <%- include('_form.ejs') %>
    </form>
</div>
<br>