<div class="container mx-auto" style="width: 500px;">
    <div class="mb-3 p-3">
        <label for="email" class="email">Email:</label>
        <input required type="email" class="form-control" id="email" name="email" value="" placeholder="Escriba su mail">
    </div>
    <div class="mb-3 p-3">
        <label for="password" class="user-name">Contraseña:</label>
        <input required type="password" class="form-control" id="password" name="password" value="" placeholder="Escriba su contraseña">
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success ms-3">
        <i class="bi bi-person-plus-fill"></i>
        Ingresar
    </button>
</div>