<%-include('../common/_index.ejs')%>
<div class="container center">
    <h3>
        No existe ning&uacute;n usuario con ese nombre 😞
    </h3>
</div>
<div>
    <a href="/" class="btn btn-outline-secondary ms-5">
        <i class="bi bi-arrow-left-circle-fill"></i> Ir al inicio
    </a>
</div>