<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../estilos/index.css" type="text/css" >
</head>
<body>
    <div class="container center">
        <h1>
            Bienvenide <%= user.name %> al blog <span class="nombre-blog">Palabras Libres</span> 💕
        </h1>
        <p>
            <span class="nombre-blog">Palabras Libres</span> te ofrece el espacio para que compartas tus escritos.
        </p>
    </div>
</body>
</html>