<%-include('../common/_index.ejs')%>
<div class="container center">
    <h2>
        Perfil de <%= user.name %> 💕
    </h2>
</div>
<br>
<br>
<div class="container center mx-auto">
    <h4>Art&iacute;culos</h4>
    <!-- ACA MOSTRARIA LOS TEXTOS CREADOS SÓLO POR EL USUARIO-->
</div>

<div>
    <a href="/" class="btn btn-outline-secondary ms-3">
        <i class="bi bi-arrow-left-circle-fill"></i> Ir al inicio
    </a>
</div>